.FaceBook-btn {
  margin-left: 20px;
  position: relative;
}

.FaceBook-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.FaceBook-icon:hover {
  transform: scale(1.1);
}

.Instagram-btn {
  margin-left: 20px;
  position: relative;
}

.Instagram-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.Instagram-icon:hover {
  transform: scale(1.1);
}

.Line-btn {
  margin-left: 20px;
  position: relative;
}

.Line-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.Line-icon:hover {
  transform: scale(1.1);
}